<div class="container">
  <section class="static_page">
    <h1>問い合わせ先</h1>
    <div class="main-contents">
      <div class="content">
        <a href="https://twitter.com/kkensyu">kenshu</a>
      </div>
    </div>
  </section>
</div>