<div id="top">
  <div class="container column">
    <div class="column-main">

      
      <%= render "shared/top_youtuber_list" %>


      <div id="new_items">
        <div>
          <Newitems/>
        </div>
      </div>
    </div>
    <div class="column-side">
      <%= render "shared/widget" %>
    </div>

    <%= javascript_pack_tag 'new_items' %>
    <%= stylesheet_pack_tag 'new_items' %>
  </div>
</div>