<div id="top">
  <div class="container">

    <div id="new_items">
      <div class="wrapper" style="padding-top: 20px;">
        <Newitems/>
      </div>
    </div>

    <%= javascript_pack_tag 'new_items' %>
    <%= stylesheet_pack_tag 'new_items' %>
  </div>
</div>