<div id="youtuber-show">
  <div class="container">
    <div class="column-main">
      <div id="youtuber_items">
        <div>
          <Youtuberitems/>
        </div>
      </div>
      <%= javascript_pack_tag 'youtuber_items' %>
      <%= stylesheet_pack_tag 'youtuber_items' %>
    </div>      
  </div>
</div>

<% content_for(:title) { @youtuber.name } %>