<div id="youtuber-show">
  <div class="container">
    <div id="youtuber_items">
      <div>
        <Youtuberitems/>
      </div>
    </div>
    <%= javascript_pack_tag 'youtuber_items' %>
    <%= stylesheet_pack_tag 'youtuber_items' %>
  </div>
</div>