header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
  box-sizing: border-box;
  @media(max-width: 567px){
    padding: 0 15px;
  }
  .header-left{
    display: flex;
    align-items: center;
    .header-icon{
      display: flex;
      align-items: center;
      .site-logo{
        font-size: 42px;
        letter-spacing: 0.4px;
        margin-right: 14px;
        @media(max-width: 567px){
          margin-right: 7px;
        }
      }
    }
    .header-desc{
      color: #313131;
      font-size: 14px;
      @media(max-width: 567px){
        display: none;
      }
    }
    .header-desc-for-sp{
      display: none;
      color: #313131;
      font-size: 14px;
      @media(max-width: 567px){
        display: block;
        font-size: 8px;
      }
    }
  }
  .serach-area{
    width: 320px;
    @media(max-width: 767px){
      display: none;
    }
    .search-form{
      display: flex;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      .text-field{
        width: 100%;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #2D2926;
        font-weight: 400;
        border: 1px solid #e7e7e7;
        padding: 10px 16px 10px 36px;
        background: image-url("search.png") 12px no-repeat;

      }
    }
  }
  .menu-area{
    display: none;
    @media(max-width: 767px){
      display: block;
      cursor: pointer;
    }
  }
}