#widget-side{
  .header-sidebar{
    border-bottom: 1px solid #e7e7e7;
    color: #313131;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .category-list{
    margin-bottom: 20px;
    .category-item{
      display: flex;
      align-items: center;
      padding: 12px 0;
      cursor: pointer;
      &:hover{
        .category-img{
          opacity: .8;
        }
        .category-name{
          text-decoration: underline;
        }
      }
      .category-img{
        margin-right: 8px;
        width: 32px;
      }
      .category-name{
        color: #333;
        font-size: 13px;
      }
    }
  } 
}