<footer id="footer">
  <div class="footer-main">
    <h2 class="site-logo">Tubest</h2>
    <p class="footer-desc">Youtuberが動画でおすすめしているアイテムをまとめています</p>
    <ul class="footer-list">
      <li>
        <a href="/terms" class="footer-list-link">利用規約</a>
      </li>
      <li>
        <a href="" class="footer-list-link">運営者</a>
      </li>
      <li>
        <a href="/privacy_policy" class="footer-list-link">プライバシーポリシー</a>
      </li>
    </ul>
  </div>
  <div class="footer-sub">
    <p class="footer-copy">Copyright tubest All Rights Reserved.</p>
  </div>
</footer>