<header>
  <div class="header-left">
    <%= link_to root_path, class:"header-icon" do %>
      <h2 class="site-logo">Tubest</h2>
      <span class="header-desc">Youtuberのおすすめアイテムまとめ</span>
      <span class="header-desc-for-sp">Youtuberの<br>おすすめアイテムまとめ</span>
    <% end %>
  </div>

  <div class="serach-area">
    <%= form_tag(searches_path, method: :get, class:"search-form") do %>
      <%= text_field_tag :search, "", required: true, class:"text-field", placeholder:"チャンネル名・アイテム名・動画名", autocomplete: 'off' %>
    <% end %>
  </div>

  <div class="menu-area" id="header_menu">
    <Headermenu/>
  </div>
  <%= javascript_pack_tag 'header_menu' %>
  
</header>