<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <% post.instagram_images.each do |image| %>
          <div class="swiper-slide"><%=image_tag image.image.url %></div>
        <% end %>
          ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons --> 
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- 
    <div class="swiper-scrollbar"></div>
    -->
</div>

<script>
var mySwiper = new Swiper('.swiper-container', {

  // レスポンシブブレーポイント（画面幅による設定）
  breakpoints: {
    // 画面幅が 576px 以上の場合（window width >= 576px）
    576: {
      slidesPerView: 1,
      spaceBetween: 5
    },
    // 画面幅が 767px 以上の場合（window width >= 767px）
    767: {
      slidesPerView: 3,
      spaceBetween: 10
    }
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },

  // And if we need scrollbar
  // scrollbar: {
  //   el: '.swiper-scrollbar',
  // },
})
</script>
