<div id="widget-side">
  <h2 class="header-sidebar">人気動画ネタ</h2>
  <div class="category-list">
    <ul>
      <li>
        <a class="category-item">
          <p class="category-name">モーニングルーティン</p>
          <span></span>
        </a>
      </li>
      <li>
        <a class="category-item">
          <p class="category-name">ナイトルーティン</p>
          <span></span>
        </a>
      </li>
    </ul>
  </div>
  <h2 class="header-sidebar">人気Youtuber</h2>
  <div class="category-list">
    <ul>
      <li>
        <a class="category-item">
          <p class="category-name">ローラ</p>
          <span></span>
        </a>
      </li>
      <li>
        <a class="category-item">
          <p class="category-name">川口春奈</p>
          <span></span>
        </a>
      </li>
    </ul>
  </div>
</div>