<div id="widget-side">
  <h2 class="header-sidebar">動画カテゴリー</h2>
  <div>
    <ul>
      <li>
        <a class="category-item">
          <p class="category-name">モーニングルーティン</p>
          <span></span>
        </a>
      </li>
      <li>
        <a class="category-item">
          <p class="category-name">ナイトルーティン</p>
          <span></span>
        </a>
      </li>
    </ul>
  </div>
</div>