<div id="search-result">
  <div class="container">
    <div class="column-main">
      <% if @search.present? %>
        <h2 style="margin-bottom:30px;">
          「<%= @search %>」の検索結果
        </h2>
        
        <% props = {
            youtubers: @youtubers,
            posts: @posts,
            items: @items
          }.to_json
        %>
        <div id="searches" data="<%= props %>">
          <div>
            <Searches/>
          </div>
        </div>
        <%= javascript_pack_tag 'searches' %>
        <%= stylesheet_pack_tag 'searches' %>

      <% end %>
    </div>
  </div>
</div>