#category-item{ 
  .column-main{
    @media(max-width: 767px){
      width: 100%;
    }
  } 
  .category-title{
    margin-bottom: 10px;
  }
  .category-wrapper{
    display: flex;
    background: #F5F5F5;
    padding: 16px 0;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 60px;
    .category{
      display: inline-block;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
      &:hover{
        opacity: .8;
      }
    }
    .category:not(:first-child){
      margin-left: 8px;
    }
    .category-child-title{
      color: #999;
      font-size: 12px;
      padding: 4px 12px;
    }
  }
  .item-wrapper-for-pc{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    @media(max-width: 567px){
      display: none;
    }
    .item{
      display: flex;
      margin-bottom: 20px;
      .item-img{
        width: 100px;
        height: 100px;
      }
      .youtuber-info{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover{
          .channel-icon{
            opacity: .8;
          }
          .channel-name{
            text-decoration: underline;
          }
        }
        .channel-icon{
          width: 28px;
          border-radius: 100%;
          object-fit: cover;
          margin-right: 5px;
        }
      }
      .item-name{
        font-weight: 600;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        &:hover{
          text-decoration: underline;
        }
      }
      .item-category{
        display: block;
        margin-bottom: 5px;
        &:hover{
          opacity: .6;
        }
        .category-child-title{
          color: #999;
          background-color: #fff;
          font-size: 12px;
          padding: 3px 7px;
          border-radius: 16px;
          box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
        }
      }
      .item-price{
        color: #999;
        font-size: 12px;
      }
    }
  }
  .post-wrapper-for-pc{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    @media(max-width: 910px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 567px){
      display: none;
    }
  }
  .post-wrapper-for-sp{
    display: none;
    @media(max-width: 567px){
      display: block;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }
  .post-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    .post-title{
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 10px;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      &:hover{
        text-decoration: underline;
      }
    }
    .post-img{
      height: 120px;
      object-fit: cover;
      margin-bottom: 10px;
      &:hover{
        opacity: .8;
      }
      @media(max-width: 567px){
        width: 100%;
        height: 120px;
      }
    }
    .youtuber-info{
      display: flex;
      margin: auto 0;
      margin-bottom: 0;
      .youtuber-img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-right: 5px;
      }
      .youtuber-name{
        font-size: 12px;
        display: flex;
        align-items: center;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .item-wrapper-for-sp{
    display: none;
    @media(max-width: 567px){
      display: block;
    }
    .item{
      display: flex;
      align-items: center;
      background: #F5F5F5;
      margin-bottom: 5px;
      padding: 10px 5px;
      border: 1px solid #f0f0f0;
      .item-img{
        width: 120px;
        height: 120px;
        border-radius: 100%;
        object-fit: cover;
        margin-right: 10px;
      }        
      .youtuber-info{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        .channel-icon{
          width: 28px;
          border-radius: 100%;
          object-fit: cover;
          margin-right: 5px;
        }
      }
      .item-name{
        font-weight: 600;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-bottom: 3px;
      }
      .item-category{
        display: block;
        margin-bottom: 5px;
        width: fit-content;
        .category-child-title{
          color: #999;
          background-color: #fff;
          font-size: 12px;
          padding: 3px 7px;
          border-radius: 16px;
          box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
      .item-price{
        color: #999;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}