body{
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  -webkit-text-size-adjust: 100%;
}

.container{
  margin: 50px auto;
  margin: 0 auto;
  width: 1020px;
  margin-top: 60px;
}
.column{
  display: flex;
}
.column-main{
  padding-right: 20px;
  width: 720px;
}
.column-side{
  width: 300px;
}

h1,h2,h3,h4,p,input,ul,li{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #222;
}

li {
  list-style-position: outside;
  list-style-type: none;
}