body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  -webkit-text-size-adjust: 100%;
}

.container{
  margin: 0 auto;
  width: 100%;
  padding: 60px;
  box-sizing: border-box;
  .display-for-pc{
    display: flex;
    @media(max-width: 767px){
      display: none;
    }
    .column{
      display: flex;
    }
    .column-main{
      padding-right: 20px;
      width: 70%;
    }
    .column-side{
      width: 30%;
    }
  }
  .display-for-sp{
    display: none;
    @media(max-width: 767px){
      display: block;
    }
  }
}


h1,h2,h3,h4,p,input,ul,li{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #222;
}

li {
  list-style-position: outside;
  list-style-type: none;
}

.pagination-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  .pagination{
    display: flex;
    align-items: center;
    color: #313131;
    font-size: 18px;
    .page{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 48px;
      border: 1px solid #313131;
      color: #fff;
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .current{
      background-color: #313131;
      &:hover{
        cursor: text;
        text-decoration: none;
      }
    }
    .prev{
      margin-right: 30px;
      &:hover{
        text-decoration: underline;
      }
    }
    .next{
      margin-left: 30px;
      &:hover{
        text-decoration: underline;
      }
    }
    .first, .last{
      display: none;
    }
  }
}