body{
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  -webkit-text-size-adjust: 100%;
}

.container{
  width: 620px;
  margin: 50px auto;
}