#posts-list{
  .new-post-title{
    margin-bottom: 10px;
  }
  .posts-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-bottom: 60px;
    @media(max-width: 767px){
      grid-template-columns: repeat(2, 1fr);
    } 
    .post-info{
      display: flex;
      flex-direction: column;
      cursor: pointer;
      &:hover{
        .post-img{
          opacity: .8;
        }
        .youtuber-name, .post-title{
          text-decoration: underline;
        }
      }
      .post-title{
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 10px;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .post-img-wrapper{
        position: relative;
        .post-img{
          height: 120px;
          object-fit: cover;
          width: 100%;
          margin-bottom: 10px; 
        }
      }
      .youtuber-info{
        display: flex;
        .youtuber-img{
          width: 30px;
          height: 30px;
          border-radius: 100%;
          margin-right: 5px;
        }
        .youtuber-name{
          font-size: 12px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

#post-show{
  .column-main{
    @media(max-width: 767px){
      width: 100%;
    }
  } 
  .post-info{
    display: flex;
    margin-bottom: 40px;
    .post-img{
      width: 240px;
      margin-right: 20px;
      @media(max-width: 567px){
        width: 140px;
        height: 100px;
        margin-right: 10px;
      }
    }
  }
  .post-title{
    font-size: 32px;
    margin-bottom: 8px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    @media(max-width: 567px){
      font-size: 20px;
    }
  }
  .youtuber-info{
    display: flex;
    align-items: center;
    &:hover{
      text-decoration: underline;
      .youtuber-img{
        opacity: .4;
      }
    }
    .youtuber-img{
      width: 48px;
      border-radius: 50%;
      margin-right: 10px;
      @media(max-width: 567px){
        width: 28px;
      }
    }
    .youtuber-name{
      font-size: 24px;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      @media(max-width: 567px){
        font-size: 18px;
      }
    }
  }

  .post-swiper{
    display: none;
    @media(max-width: 767px){
      display: block;
    }
  }

  .item-content-wrapper{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 50px;
    @media(max-width: 567px){
      display: flex;
      flex-direction: column;
    }
  }
  .item-content{
    display: flex;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    @media(max-width: 567px){
      padding: 15px;
      height: 240px;
    }
    .item-info{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media(max-width: 567px){
        flex-direction: row;
      }
      .item-img{
        max-width: 160px;
        max-height: 160px;
        margin-bottom: 10px;
        @media(max-width: 567px){
          width: 92px;
          height: 92px;
          margin-right: 10px;
          margin-bottom: 0px;
        }
      }
      .item-name{
        width: 100%;
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        @media(max-width: 567px){
          max-height: 42px;
          font-size: 12px;
          display: block;
          overflow: scroll;
        }
      }
      .item-price{
        color: #fd381e;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -.03em;
        line-height: 24px;
        margin-right: 10px;
        @media(max-width: 567px){
          font-size: 12px;
        }
      }
      .tax-include{
        font-size: 12px !important;
      }
      .item-category{
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 8px;
        color: #222;
        background-color: #F5F5F5;
        border-radius: 16px;
        padding: 4px 12px;
        margin-bottom: 4px;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
        &:hover{
          text-decoration: underline;
        }
      }
      .item-btn-wrapper{
        width: 100%;
        li{
          margin-top: 10px;
        }
        .item-link{
          box-sizing: border-box;
          border-radius: 3px;
          color: #fff;
          cursor: pointer;
          text-align: center;
          background-color: #0BC7DB;
          padding: 10px;
          font-size: 15px;
          font-weight: bold;
          line-height: 1.5;
          box-shadow: 0 -4px 0 rgba(0,0,0,0.1) inset;
          display: block !important;
          @media(max-width: 567px){
            font-size: 12px;
          }
        }
        .item-link:hover{
          opacity: .8;
        }
      }
    }
  }
  .link-to-youtuber-wrapper{
    display: flex;
  }
  .link-to-youtuber{
    color: #929292;;
    text-decoration: underline;
  }
}