#top{
  .content{
    margin-bottom: 32px;
  }
}

.static_page{
  color: #222;
  margin-bottom: 60px;
  h1{
    text-align: center;
    margin: 50px 30px;
    font-size: 30px;
  }
  .main-contents{
    border: 1px solid #222;
    padding: 40px;
    .content{
      margin-bottom: 50px;
      h2{
        font-size: 20px;
      }
      p{
        font-size: 14px;
      }
      a{
        font-size: 14px;
        color: #222;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .content:last-child{
      margin-bottom: 0;
    }
  }
}