#youtubers-list{
  .youtuber-list-title{
    margin-bottom: 30px;
  }
  .youtuber-wrapper-for-pc{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-bottom: 60px;
    @media(max-width: 767px){
      grid-template-columns: repeat(4, 1fr);
    }
    @media(max-width: 567px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media(max-width: 374px){
      display: none;
    }
    .youtuber-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #f0f0f0;
      border-radius: 10px;
      cursor: pointer;
      padding: 15px 5px 15px;
      &:hover{
        border: 1px solid #c7c7c7;
        .channel-img{
          opacity: .8;
        }
        .youtuber-name{
          text-decoration: underline;
        }
      }
    }
    .channel-img{
      width: 70px;
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 10px;
    }
    .youtuber-name{
      font-size: 13px;
      color: #222;
      font-weight: bold;
      height: 35px;
      width: 100%;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  .youtuber-wrapper-for-sp{
    display: none;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 0 8px 6px;
    margin-bottom: 10px;
    @media(max-width: 374px){
      display: block;
    }
    li{
      width: 100px;
      display: inline-block;
      .youtuber-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #f0f0f0;
        border-radius: 10px;
        padding: 15px 5px 15px;
        .channel-img{
          width: 70px;
          border-radius: 100%;
          object-fit: cover;
          margin-bottom: 10px;
        }
        .youtube-name-wrapper{
          width: 100%;
          .youtuber-name{
            font-size: 13px;
            color: #222;
            font-weight: bold;
            height: 35px;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }
    }
  }
}

//show
#youtuber-show{
  .column-main{
    @media(max-width: 567px){
      width: 100%;
    } 
  }
}